openapi: 3.1.0
info:
  title: Robono Bridge API
  version: 1.3.0
  description: |
    Provider-neutral API for connecting users across private networks and every
    endpoint advertised by the Robono directory. Send Robono-Api-Version when
    pinning behavior; omitted requests use the current documented version.
  license:
    name: Robono Developer Terms
    url: https://robono.com/terms
servers:
  - url: https://api.robono.com/v1
    description: Production and isolated sandbox traffic; the API key determines the environment
security:
  - apiKey: []
x-robono-api-version-policy:
  current: "2026-07-25"
  minimum-deprecation-notice-days: 90
webhooks:
  robonoEvent:
    post:
      operationId: receiveRobonoWebhook
      summary: Receive a signed connection, message, receipt, transform, failure, or diagnostic event
      security: []
      parameters:
        - name: Robono-Webhook-Id
          in: header
          required: true
          schema: { type: string }
        - name: Robono-Request-Id
          in: header
          required: true
          schema: { type: string }
        - name: Robono-Webhook-Timestamp
          in: header
          required: true
          schema: { type: string, format: date-time }
        - name: Robono-Webhook-Signature
          in: header
          required: true
          schema: { type: string, pattern: "^v1=[a-f0-9]{64}$" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WebhookEvent" }
            examples:
              connectionStatus:
                summary: Robono-endpoint connection status changed
                value:
                  event: connection.status_changed
                  event_id: evt_01J00000000000000000000010
                  request_id: req_01J00000000000000000000010
                  created_at: "2026-07-25T12:00:10Z"
                  connection_id: 11111111-1111-4111-8111-111111111111
                  status: active
              connectionProfile:
                summary: Robono-endpoint profile changed
                value:
                  event: connection.profile_updated
                  event_id: evt_01J00000000000000000000011
                  request_id: req_01J00000000000000000000011
                  created_at: "2026-07-25T12:00:11Z"
                  connection_id: 11111111-1111-4111-8111-111111111111
                  status: active
              message:
                summary: New message
                value:
                  event: message.created
                  event_id: evt_01J00000000000000000000000
                  request_id: req_01J00000000000000000000000
                  created_at: "2026-07-25T12:00:00Z"
                  connection_id: 11111111-1111-4111-8111-111111111111
                  robono_message_id: 22222222-2222-4222-8222-222222222222
                  external_user_id: child-user-42
                  sender:
                    type: robono_user
                    robono_user_id: 33333333-3333-4333-8333-333333333333
                    display_name: Taylor
                    avatar_url: null
                    avatar_version: null
                    avatar_updated_at: null
                    profile_updated_at: null
                    phone_masked: null
                  message_kind: text
                  text_body: Hello
                  media: null
              messageDelivered:
                summary: Robono-endpoint message delivered
                value:
                  event: message.delivered
                  event_id: evt_01J00000000000000000000012
                  request_id: req_01J00000000000000000000012
                  created_at: "2026-07-25T12:00:12Z"
                  connection_id: 11111111-1111-4111-8111-111111111111
                  robono_message_id: 22222222-2222-4222-8222-222222222222
                  external_message_id: external-message-42
              messageHeard:
                summary: Robono-endpoint message heard
                value:
                  event: message.heard
                  event_id: evt_01J00000000000000000000013
                  request_id: req_01J00000000000000000000013
                  created_at: "2026-07-25T12:00:13Z"
                  connection_id: 11111111-1111-4111-8111-111111111111
                  robono_message_id: 22222222-2222-4222-8222-222222222222
                  external_message_id: external-message-42
              reaction:
                summary: Reaction changed
                value:
                  event: message.reaction_updated
                  event_id: evt_01J00000000000000000000002
                  request_id: req_01J00000000000000000000002
                  created_at: "2026-07-25T12:00:02Z"
                  connection_id: 11111111-1111-4111-8111-111111111111
                  conversation_id: 44444444-4444-4444-8444-444444444444
                  robono_message_id: 22222222-2222-4222-8222-222222222222
                  external_message_id: external-message-42
                  external_user_id: child-user-42
                  reaction:
                    emoji: "❤️"
                    removed: false
                    reacted_at: "2026-07-25T12:00:02Z"
                  reactor:
                    type: robono_user
                    robono_user_id: 33333333-3333-4333-8333-333333333333
                    display_name: Taylor
                    phone_masked: "***-***-0101"
              connectionRequest:
                summary: Connection approval requested
                value:
                  event: bridge.connection_requested
                  event_id: evt_01J00000000000000000000003
                  request_id: req_01J00000000000000000000003
                  created_at: "2026-07-25T12:00:03Z"
                  bridge_connection_id: 55555555-5555-4555-8555-555555555555
                  source:
                    app:
                      id: 66666666-6666-4666-8666-666666666666
                      slug: source-app
                      display_name: Source App
                    external_user_id: source-child-42
                    display_name: Jordan
                  target:
                    app:
                      id: 77777777-7777-4777-8777-777777777777
                      slug: target-app
                      display_name: Target App
                    identifier: FRIEND-42
                    contact_label: Riley
                    accepted_identifier:
                      label: Friend code
                      description: Enter the code shown in the friend's app.
                      example: FRIEND-42
                      format: App-issued friend code
                      input_type: text
                      min_length: 6
                      max_length: 32
                      normalization: uppercase
                      case_sensitive: false
                  capabilities: {}
              bridgeConnectionStatus:
                summary: Connected-app connection status changed
                value:
                  event: bridge.connection_status_changed
                  event_id: evt_01J00000000000000000000014
                  request_id: req_01J00000000000000000000014
                  created_at: "2026-07-25T12:00:14Z"
                  bridge_connection_id: 55555555-5555-4555-8555-555555555555
                  connection:
                    bridge_connection_id: 55555555-5555-4555-8555-555555555555
                    status: accepted
                    source:
                      app: { id: 66666666-6666-4666-8666-666666666666 }
                      external_user_id: source-child-42
                      display_name: Jordan
                    target:
                      app: { id: 77777777-7777-4777-8777-777777777777 }
                      identifier: FRIEND-42
                      external_user_id: target-child-42
                      display_name: Riley
                    guardian_messaging_enabled: false
                    capabilities: {}
              bridgeConnectionUpdated:
                summary: Connected-app connection profile or capabilities changed
                value:
                  event: bridge.connection_updated
                  event_id: evt_01J00000000000000000000015
                  request_id: req_01J00000000000000000000015
                  created_at: "2026-07-25T12:00:15Z"
                  bridge_connection_id: 55555555-5555-4555-8555-555555555555
                  connection:
                    bridge_connection_id: 55555555-5555-4555-8555-555555555555
                    status: accepted
                    source:
                      app: { id: 66666666-6666-4666-8666-666666666666 }
                      external_user_id: source-child-42
                      display_name: Jordan
                    target:
                      app: { id: 77777777-7777-4777-8777-777777777777 }
                      identifier: FRIEND-42
                      external_user_id: target-child-42
                      display_name: Riley
                    guardian_messaging_enabled: false
                    capabilities:
                      allowed_outbound_message_kinds: [text, voice]
              directoryChanged:
                summary: Directory endpoint changed
                value:
                  event: bridge.directory_changed
                  event_id: evt_01J00000000000000000000016
                  request_id: req_01J00000000000000000000016
                  created_at: "2026-07-25T12:00:16Z"
                  endpoint_id: 77777777-7777-4777-8777-777777777777
                  change: updated
              bridgeMessage:
                summary: Connected-app message created
                value:
                  event: bridge.message_created
                  event_id: evt_01J00000000000000000000017
                  request_id: req_01J00000000000000000000017
                  created_at: "2026-07-25T12:00:17Z"
                  bridge_connection_id: 55555555-5555-4555-8555-555555555555
                  bridge_message_id: 99999999-9999-4999-8999-999999999999
                  connection:
                    bridge_connection_id: 55555555-5555-4555-8555-555555555555
                    status: accepted
                    source:
                      app: { id: 66666666-6666-4666-8666-666666666666 }
                      external_user_id: source-child-42
                      display_name: Jordan
                    target:
                      app: { id: 77777777-7777-4777-8777-777777777777 }
                      identifier: FRIEND-42
                      external_user_id: target-child-42
                      display_name: Riley
                    guardian_messaging_enabled: false
                    capabilities: {}
                  sender:
                    child_app_id: 66666666-6666-4666-8666-666666666666
                    external_user_id: source-child-42
                  recipient:
                    child_app_id: 77777777-7777-4777-8777-777777777777
                    external_user_id: target-child-42
                  message:
                    external_message_id: external-message-42
                    message_kind: text
                    text_body: Hello
                    created_at: "2026-07-25T12:00:17Z"
              bridgeMessageStatus:
                summary: Connected-app message status changed
                value:
                  event: bridge.message_status_changed
                  event_id: evt_01J00000000000000000000018
                  request_id: req_01J00000000000000000000018
                  created_at: "2026-07-25T12:00:18Z"
                  bridge_connection_id: 55555555-5555-4555-8555-555555555555
                  bridge_message_id: 99999999-9999-4999-8999-999999999999
                  status: read
              guardianMessage:
                summary: Guardian message created
                value:
                  event: bridge.guardian_message_created
                  event_id: evt_01J00000000000000000000004
                  request_id: req_01J00000000000000000000004
                  created_at: "2026-07-25T12:00:04Z"
                  bridge_connection_id: 55555555-5555-4555-8555-555555555555
                  guardian_message_id: 88888888-8888-4888-8888-888888888888
                  connection:
                    bridge_connection_id: 55555555-5555-4555-8555-555555555555
                    status: accepted
                    source:
                      app: { id: 66666666-6666-4666-8666-666666666666 }
                      external_user_id: source-child-42
                      display_name: Jordan
                    target:
                      app: { id: 77777777-7777-4777-8777-777777777777 }
                      identifier: FRIEND-42
                      external_user_id: target-child-42
                      display_name: Riley
                    guardian_messaging_enabled: true
                    capabilities: {}
                  sender_guardian:
                    external_guardian_id: guardian-source-1
                    display_name: Alex
                    relationship_to_child: parent
                    avatar_url: null
                  recipient_guardians:
                    - external_guardian_id: guardian-target-1
                      display_name: Taylor
                      relationship_to_child: parent
                      avatar_url: null
                  sender_child:
                    child_app_id: 66666666-6666-4666-8666-666666666666
                    external_user_id: source-child-42
                    display_name: Jordan
                  recipient_child:
                    child_app_id: 77777777-7777-4777-8777-777777777777
                    external_user_id: target-child-42
                    display_name: Riley
                  message:
                    external_message_id: guardian-message-42
                    message_kind: text
                    text_body: Pickup is at four.
                    created_at: "2026-07-25T12:00:04Z"
              guardianMessageStatus:
                summary: Guardian message status changed
                value:
                  event: bridge.guardian_message_status_changed
                  event_id: evt_01J00000000000000000000019
                  request_id: req_01J00000000000000000000019
                  created_at: "2026-07-25T12:00:19Z"
                  bridge_connection_id: 55555555-5555-4555-8555-555555555555
                  guardian_message_id: 88888888-8888-4888-8888-888888888888
                  status: read
              transformCompleted:
                summary: Transform completed
                value:
                  event: transform.completed
                  event_id: evt_01J00000000000000000000020
                  request_id: req_01J00000000000000000000020
                  created_at: "2026-07-25T12:00:20Z"
                  transform_kind: message
                  status: completed
                  external_request_id: transform-message-42
                  artifacts:
                    transcript:
                      text: Hello
                      language: en
                      cached: false
                  billing:
                    bill_to: sandbox
                    charged: false
                    operation_count: 1
                    operations:
                      - type: transcription
                        quantity: 1
                        billable: false
                    cache_reused: false
              transformFailure:
                summary: Transform failure
                value:
                  event: transform.failed
                  event_id: evt_01J00000000000000000000001
                  request_id: req_01J00000000000000000000001
                  created_at: "2026-07-25T12:00:01Z"
                  transform_kind: speech
                  status: failed
                  external_request_id: translate-message-42
                  error:
                    code: speech_transform_failed
                    message: Speech transform could not be completed.
              pushDiagnostic:
                summary: Push-path diagnostic requested
                value:
                  event: diagnostic.push_requested
                  event_id: evt_01J00000000000000000000021
                  request_id: req_01J00000000000000000000021
                  created_at: "2026-07-25T12:00:21Z"
                  push_diagnostic_id: aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa
                  diagnostic_token: diagnostic-token-42
                  external_user_id: child-user-42
      responses:
        "2XX":
          description: |
            Event durably accepted. Return any 2xx response, including 200 or
            202, within 10 seconds. Duplicate event IDs must also return 2xx.
            A timeout, network failure, redirect, or non-2xx response triggers
            up to five retry attempts with increasing delay capped at 15 minutes.
paths:
  /networks:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: listNetworks
      summary: List networks available for new connections
      tags: [Networks]
      requestBody:
        $ref: "#/components/requestBodies/JsonBody"
      responses:
        "200":
          description: Available networks and the identifier required by each network
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkDirectoryResponse"
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /network-connections:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: requestNetworkConnection
      summary: Request a connection to a user in another network
      tags: [Connections]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestConnection"
      responses:
        "200":
          description: Connection request stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionResponse"
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /network-connections/respond:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: respondToNetworkConnection
      summary: Accept, reject, or report no match for an incoming request
      tags: [Connections]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RespondConnection"
      responses:
        "200":
          description: Updated connection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionResponse"
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /network-connections/list:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: listNetworkConnections
      summary: Recover or synchronize connections
      tags: [Connections]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                external_user_id: { type: string, maxLength: 160 }
                bridge_connection_id: { type: string, format: uuid }
                status: { $ref: "#/components/schemas/ConnectionStatus" }
                limit: { type: integer, minimum: 1, maximum: 100, default: 50 }
                before: { type: string, format: date-time }
      responses:
        "200":
          description: Connections visible to this network
          content:
            application/json:
              schema:
                type: object
                required: [ok, request_id, connections, has_more]
                properties:
                  ok: { const: true }
                  request_id: { type: string }
                  connections:
                    type: array
                    items: { $ref: "#/components/schemas/Connection" }
                  has_more: { type: boolean }
                  next_before: { type: [string, "null"], format: date-time }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /network-connections/disconnect:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: disconnectNetworkConnection
      summary: Disconnect a network relationship
      tags: [Connections]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bridge_connection_id, external_user_id]
              properties:
                bridge_connection_id: { type: string, format: uuid }
                external_user_id: { type: string, maxLength: 160 }
                reason: { type: string, maxLength: 240 }
                disconnected_at: { type: string, format: date-time }
      responses:
        "200":
          description: Disconnected connection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionResponse"
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /network-connections/update:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: updateNetworkConnection
      summary: Update a participant display name, language/rules, or guardians
      tags: [Connections]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bridge_connection_id, external_user_id]
              properties:
                bridge_connection_id: { type: string, format: uuid }
                external_user_id: { type: string, maxLength: 160 }
                display_name: { type: string, maxLength: 160 }
                external_profile: { $ref: "#/components/schemas/ExternalProfile" }
                capabilities: { $ref: "#/components/schemas/Capabilities" }
                guardians:
                  type: array
                  items: { $ref: "#/components/schemas/Guardian" }
      responses:
        "200":
          description: Updated connection and newly negotiated limits
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConnectionResponse" }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /network-messages:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: sendNetworkMessage
      summary: Send content across an accepted connection
      tags: [Messages]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessage"
      responses:
        "200":
          description: Message stored or accepted by the destination network
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMessageResponse"
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /network-messages/list:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: listNetworkMessages
      summary: Recover or synchronize messages and delivery states
      tags: [Messages]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bridge_connection_id]
              properties:
                bridge_connection_id: { type: string, format: uuid }
                external_user_id: { type: string, maxLength: 160 }
                limit: { type: integer, minimum: 1, maximum: 100, default: 50 }
                before: { type: string, format: date-time }
                after:
                  type: string
                  format: date-time
                  description: Return only messages created after this synchronization cursor. Do not combine with before.
      responses:
        "200":
          description: Messages visible to this network
          content:
            application/json:
              schema:
                type: object
                required: [ok, request_id, messages, has_more]
                properties:
                  ok: { const: true }
                  request_id: { type: string }
                  messages:
                    type: array
                    items: { $ref: "#/components/schemas/Message" }
                  has_more: { type: boolean }
                  next_before: { type: [string, "null"], format: date-time }
                  next_after: { type: [string, "null"], format: date-time }
                  sync_cursor: { type: [string, "null"], format: date-time }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /network-messages/events:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: markNetworkMessage
      summary: Report that a received message was delivered, read, or heard
      tags: [Messages]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bridge_connection_id, bridge_message_id, event]
              properties:
                bridge_connection_id: { type: string, format: uuid }
                bridge_message_id: { type: string, format: uuid }
                event:
                  type: string
                  enum: [delivered, read, heard]
                occurred_at: { type: string, format: date-time }
      responses:
        "200":
          description: Current message state
          content:
            application/json:
              schema:
                type: object
                required: [ok, request_id, bridge_message_id, status, occurred_at]
                properties:
                  ok: { const: true }
                  request_id: { type: string }
                  bridge_message_id: { type: string, format: uuid }
                  status: { $ref: "#/components/schemas/MessageStatus" }
                  occurred_at: { type: string, format: date-time }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /guardian-messages:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: sendGuardianMessage
      summary: Send a guardian message through a guardian-enabled connection
      tags: [Messages]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bridge_connection_id, external_guardian_id, external_message_id, text_body]
              properties:
                bridge_connection_id: { type: string, format: uuid }
                external_guardian_id: { type: string, maxLength: 160 }
                external_message_id: { type: string, maxLength: 160 }
                message_kind: { const: text }
                text_body: { type: string, minLength: 1 }
                dry_run: { type: boolean, default: false }
      responses:
        "200":
          description: Guardian message result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMessageResponse"
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /guardian-messages/list:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: listGuardianMessages
      summary: Recover or synchronize guardian messages and delivery states
      tags: [Messages]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bridge_connection_id]
              properties:
                bridge_connection_id: { type: string, format: uuid }
                limit: { type: integer, minimum: 1, maximum: 100, default: 50 }
                before: { type: string, format: date-time }
      responses:
        "200":
          description: Guardian messages visible to this network
          content:
            application/json:
              schema:
                type: object
                required: [ok, request_id, messages, has_more]
                properties:
                  ok: { const: true }
                  request_id: { type: string }
                  messages:
                    type: array
                    items: { $ref: "#/components/schemas/GuardianMessage" }
                  has_more: { type: boolean }
                  next_before: { type: [string, "null"], format: date-time }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /guardian-messages/events:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: markGuardianMessage
      summary: Report that a guardian message was delivered or read
      tags: [Messages]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bridge_connection_id, guardian_message_id, event]
              properties:
                bridge_connection_id: { type: string, format: uuid }
                guardian_message_id: { type: string, format: uuid }
                event: { type: string, enum: [delivered, read] }
                occurred_at: { type: string, format: date-time }
      responses:
        "200":
          description: Current guardian message state
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /connections:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: connectToRobono
      summary: Connect to a Robono-owned endpoint using its directory identifier
      tags: [Connections]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_phone_e164, external_user_id, external_display_name]
              properties:
                target_phone_e164: { type: string, pattern: '^\\+[1-9][0-9]{7,14}$' }
                external_user_id: { type: string, maxLength: 160 }
                connection_id: { type: string, format: uuid }
                external_display_name: { type: string, maxLength: 160 }
                external_profile: { $ref: "#/components/schemas/ExternalProfile" }
                target_contact_label: { type: string, maxLength: 160 }
                monitoring_disclosure: { type: string }
                external_approval: { type: object, additionalProperties: true }
                capabilities: { $ref: "#/components/schemas/Capabilities" }
      responses:
        "200":
          description: Robono connection
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RobonoConnectionResponse" }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /connections/list:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: listRobonoConnections
      summary: Recover or synchronize connections to Robono-owned endpoints
      tags: [Connections]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [external_user_id]
              properties:
                external_user_id: { type: string, maxLength: 160 }
                connection_id: { type: string, format: uuid }
                status: { $ref: "#/components/schemas/RobonoConnectionStatus" }
                limit: { type: integer, minimum: 1, maximum: 100, default: 50 }
                before: { type: string, format: date-time }
      responses:
        "200":
          description: Connections visible to this network user
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RobonoConnectionListResponse" }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /connections/profile:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: updateRobonoConnection
      summary: Update the user profile or rules attached to a connection
      tags: [Connections]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [connection_id, external_user_id]
              properties:
                connection_id: { type: string, format: uuid }
                external_user_id: { type: string, maxLength: 160 }
                external_display_name: { type: string, maxLength: 160 }
                external_profile: { $ref: "#/components/schemas/ExternalProfile" }
                capabilities: { $ref: "#/components/schemas/Capabilities" }
      responses:
        "200":
          description: Updated connection
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RobonoConnectionResponse" }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /connections/disconnect:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: disconnectRobonoConnection
      summary: Disconnect from a Robono-owned endpoint
      tags: [Connections]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [connection_id, external_user_id]
              properties:
                connection_id: { type: string, format: uuid }
                external_user_id: { type: string, maxLength: 160 }
                reason: { type: string, maxLength: 240 }
                disconnected_at: { type: string, format: date-time }
      responses:
        "200":
          description: Disconnected connection
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RobonoConnectionResponse" }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /messages:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: sendMessageToRobono
      summary: Send content through a connection to a Robono-owned endpoint
      tags: [Messages]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SendRobonoMessage" }
      responses:
        "200":
          description: Message result
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SendRobonoMessageResponse" }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /messages/list:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: listRobonoMessages
      summary: Recover or synchronize messages from a Robono-owned endpoint
      tags: [Messages]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [connection_id, external_user_id]
              properties:
                connection_id: { type: string, format: uuid }
                external_user_id: { type: string, maxLength: 160 }
                limit: { type: integer, minimum: 1, maximum: 100, default: 50 }
                before: { type: string, format: date-time }
                after:
                  type: string
                  format: date-time
                  description: Return only messages created after this synchronization cursor. Do not combine with before.
      responses:
        "200":
          description: Messages visible to this network user
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RobonoMessageListResponse" }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /message-events:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: markRobonoMessage
      summary: Report that a message from a Robono-owned endpoint was delivered, read, or heard
      tags: [Messages]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RobonoMessageEventRequest"
      responses:
        "200":
          description: Message receipt stored
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RobonoMessageEventResponse" }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /languages:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: listLanguages
      summary: List translation and speech languages
      tags: [Transforms]
      responses:
        "200":
          description: Supported languages
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LanguageResponse" }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /message-transforms:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: transformMessage
      summary: Request transcription, translation, TTS, or translated voice
      tags: [Transforms]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MessageTransformRequest" }
      responses:
        "200":
          description: Transform result
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TransformResponse" }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /speech-transforms:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: transformSpeech
      summary: Request a standalone speech transform
      tags: [Transforms]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SpeechTransformRequest" }
      responses:
        "200":
          description: Transform result
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TransformResponse" }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
  /push-diagnostics/events:
    parameters:
      - $ref: "#/components/parameters/ApiVersion"
    post:
      operationId: reportPushDiagnosticEvent
      summary: Report one completed step in a controlled push-delivery test
      tags: [Diagnostics]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [diagnostic_id, diagnostic_token, stage]
              properties:
                diagnostic_id: { type: string, format: uuid }
                diagnostic_token: { type: string }
                stage:
                  type: string
                  enum: [provider_accepted, device_received, content_fetched, rendered, polling_recovered, failed]
                failure_stage: { type: string, maxLength: 80 }
                failure_reason: { type: string, maxLength: 320 }
                platform: { type: string, maxLength: 40 }
                provider: { type: string, maxLength: 60 }
                app_version: { type: string, maxLength: 40 }
                detail: { type: string, maxLength: 240 }
      responses:
        "200":
          description: Diagnostic timeline updated
          content:
            application/json:
              schema:
                type: object
                required: [ok, request_id, diagnostic]
                properties:
                  ok: { const: true }
                  request_id: { type: string }
                  diagnostic: { type: object, additionalProperties: true }
        "4XX":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimit"
        "5XX":
          $ref: "#/components/responses/ServiceError"
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: Robono API key
  parameters:
    ApiVersion:
      name: Robono-Api-Version
      in: header
      required: false
      description: Contract version in YYYY-MM-DD form. The current version is 2026-07-25.
      schema: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$" }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        A stable operation value that makes retries safe. Official SDKs create
        one for retries performed within a single method call. Persist and
        reuse your own value when retrying the operation in a later call,
        process, job, or device session.
      schema: { type: string, minLength: 8, maxLength: 200 }
  requestBodies:
    JsonBody:
      required: false
      content:
        application/json:
          schema: { type: object, additionalProperties: true }
  responses:
    Error:
      description: Request error
      headers:
        Retry-After:
          description: Seconds or HTTP date after which a retryable request may be attempted.
          schema: { type: string }
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimit:
      description: Request rate or configured safety limit exceeded
      headers:
        Retry-After:
          required: true
          description: Seconds or HTTP date after which the request may be retried.
          schema: { type: string }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    ServiceError:
      description: Temporary Robono service failure
      headers:
        Retry-After:
          description: Optional delay before retrying.
          schema: { type: string }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
  schemas:
    ErrorResponse:
      type: object
      required: [error, request_id]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            retryable: { type: boolean }
        request_id: { type: string }
        fields:
          type: array
          items:
            type: object
            additionalProperties: true
    Identifier:
      type: object
      required: [label, description, example, format, input_type, min_length, max_length, normalization, case_sensitive]
      properties:
        label: { type: string }
        description: { type: string }
        example: { type: string }
        format: { type: string }
        input_type:
          type: string
          enum: [text, tel, email, number]
        pattern:
          type: string
          description: ECMAScript regular expression applied after normalization.
        min_length: { type: integer, minimum: 1, maximum: 240 }
        max_length: { type: integer, minimum: 1, maximum: 240 }
        normalization:
          type: string
          enum: [none, trim, lowercase, uppercase, e164]
        case_sensitive: { type: boolean }
    Network:
      type: object
      required: [type, id, slug, display_name, accepted_identifier, default_capabilities]
      properties:
        type:
          type: string
          enum: [connected_app, robono_phone]
        id: { type: string }
        slug: { type: string }
        display_name: { type: string }
        description: { type: string }
        icon_url: { type: string, format: uri }
        accepts_inbound_bridge_requests: { type: boolean }
        accepted_identifier: { $ref: "#/components/schemas/Identifier" }
        default_capabilities: { $ref: "#/components/schemas/Capabilities" }
    NetworkDirectoryResponse:
      type: object
      required: [ok, request_id, directory]
      properties:
        ok: { const: true }
        request_id: { type: string }
        directory:
          type: array
          items: { $ref: "#/components/schemas/Network" }
    Guardian:
      type: object
      required: [external_guardian_id]
      properties:
        external_guardian_id: { type: string, maxLength: 160 }
        display_name: { type: [string, "null"], maxLength: 160 }
        relationship_to_child: { type: [string, "null"], maxLength: 80 }
        avatar_url: { type: [string, "null"], format: uri }
    ExternalProfile:
      type: object
      properties:
        display_name: { type: string, maxLength: 160 }
        avatar:
          type: object
          required: [source_url]
          properties:
            source_url: { type: string, format: uri }
            mime_type: { type: string }
            version: { type: string }
            updated_at: { type: string, format: date-time }
    Capabilities:
      type: object
      description: Negotiated permissions and limits for both directions of a connection.
      additionalProperties: true
      properties:
        protocol_version: { type: string }
        allowed_outbound_message_kinds:
          type: array
          items: { $ref: "#/components/schemas/MessageKind" }
        allowed_inbound_message_kinds:
          type: array
          items: { $ref: "#/components/schemas/MessageKind" }
        history: { $ref: "#/components/schemas/HistoryCapabilities" }
        text: { $ref: "#/components/schemas/TextCapabilities" }
        voice: { $ref: "#/components/schemas/MediaCapabilities" }
        photo: { $ref: "#/components/schemas/MediaCapabilities" }
        video: { $ref: "#/components/schemas/MediaCapabilities" }
        document: { $ref: "#/components/schemas/MediaCapabilities" }
        receive_voice_waveforms: { type: boolean }
        receive_delivery_events: { type: boolean }
        receive_message_heard_events: { type: boolean }
        emoji_reactions:
          oneOf:
            - { type: boolean }
            - type: object
              required: [allowed]
              properties:
                allowed: { type: boolean }
        from_source_to_target: { $ref: "#/components/schemas/DirectionCapabilities" }
        from_target_to_source: { $ref: "#/components/schemas/DirectionCapabilities" }
    HistoryCapabilities:
      type: object
      required: [max_items, message_expires_after_seconds]
      properties:
        max_items: { type: [integer, "null"], minimum: 0 }
        message_expires_after_seconds: { type: [integer, "null"], minimum: 1 }
    TextCapabilities:
      type: object
      properties:
        max_characters: { type: integer, minimum: 1 }
    MediaOutputPreference:
      type: object
      properties:
        preferred_mime_type: { type: string }
        preferred_codec: { type: string }
        transcoding: { type: string, enum: [off, preferred, required] }
    MediaCapabilities:
      type: object
      properties:
        max_duration_ms: { type: integer, minimum: 1 }
        max_file_bytes: { type: integer, minimum: 1 }
        allowed_input_mime_types:
          type: array
          items: { type: string }
        max_width_px: { type: integer, minimum: 1 }
        max_height_px: { type: integer, minimum: 1 }
        max_items_per_message: { type: integer, minimum: 1 }
        strip_metadata: { type: boolean }
        output: { $ref: "#/components/schemas/MediaOutputPreference" }
    DirectionCapabilities:
      type: object
      required: [allowed_message_kinds]
      properties:
        allowed_message_kinds:
          type: array
          items: { $ref: "#/components/schemas/MessageKind" }
        text: { $ref: "#/components/schemas/TextCapabilities" }
        voice: { $ref: "#/components/schemas/MediaCapabilities" }
        photo: { $ref: "#/components/schemas/MediaCapabilities" }
        video: { $ref: "#/components/schemas/MediaCapabilities" }
        document: { $ref: "#/components/schemas/MediaCapabilities" }
        limitations:
          type: array
          items: {}
    AppIdentity:
      type: object
      required: [id]
      properties:
        id: { type: string }
        slug: { type: string }
        display_name: { type: string }
    BridgeSourceParticipant:
      type: object
      required: [app, external_user_id, display_name]
      properties:
        app:
          oneOf:
            - { $ref: "#/components/schemas/Network" }
            - { $ref: "#/components/schemas/AppIdentity" }
        external_user_id: { type: string }
        display_name: { type: string }
        profile: { $ref: "#/components/schemas/ExternalProfile" }
        guardians:
          type: array
          items: { $ref: "#/components/schemas/Guardian" }
    BridgeTargetParticipant:
      type: object
      required: [app, identifier, external_user_id, display_name]
      properties:
        app:
          oneOf:
            - { $ref: "#/components/schemas/Network" }
            - { $ref: "#/components/schemas/AppIdentity" }
        identifier: { type: string }
        external_user_id: { type: [string, "null"] }
        display_name: { type: [string, "null"] }
        profile: { $ref: "#/components/schemas/ExternalProfile" }
        contact_label: { type: [string, "null"] }
        guardians:
          type: array
          items: { $ref: "#/components/schemas/Guardian" }
    RequestConnection:
      oneOf:
        - $ref: "#/components/schemas/RequestConnectionById"
        - $ref: "#/components/schemas/RequestConnectionBySlug"
    RequestConnectionById:
      type: object
      additionalProperties: false
      required:
        - target_app_id
        - source_external_user_id
        - source_display_name
        - target_identifier
      properties:
        target_app_id: { type: string, format: uuid }
        source_external_user_id: { type: string, maxLength: 160 }
        source_display_name: { type: string, maxLength: 160 }
        target_identifier: { type: string, maxLength: 240 }
        target_contact_label: { type: string, maxLength: 160 }
        external_profile: { $ref: "#/components/schemas/ExternalProfile" }
        capabilities: { $ref: "#/components/schemas/Capabilities" }
        guardian_messaging_enabled: { type: boolean }
        source_guardians:
          type: array
          items: { $ref: "#/components/schemas/Guardian" }
        monitoring_disclosure: { type: string }
        external_approval: { type: object, additionalProperties: true }
    RequestConnectionBySlug:
      type: object
      additionalProperties: false
      required:
        - target_app_slug
        - source_external_user_id
        - source_display_name
        - target_identifier
      properties:
        target_app_slug: { type: string }
        source_external_user_id: { type: string, maxLength: 160 }
        source_display_name: { type: string, maxLength: 160 }
        target_identifier: { type: string, maxLength: 240 }
        target_contact_label: { type: string, maxLength: 160 }
        external_profile: { $ref: "#/components/schemas/ExternalProfile" }
        capabilities: { $ref: "#/components/schemas/Capabilities" }
        guardian_messaging_enabled: { type: boolean }
        source_guardians:
          type: array
          items: { $ref: "#/components/schemas/Guardian" }
        monitoring_disclosure: { type: string }
        external_approval: { type: object, additionalProperties: true }
    RespondConnection:
      type: object
      required: [bridge_connection_id, status]
      properties:
        bridge_connection_id: { type: string, format: uuid }
        status:
          type: string
          enum: [accepted, rejected, not_found]
        target_external_user_id: { type: string, maxLength: 160 }
        target_display_name: { type: string, maxLength: 160 }
        external_profile: { $ref: "#/components/schemas/ExternalProfile" }
        target_guardians:
          type: array
          items: { $ref: "#/components/schemas/Guardian" }
        capabilities: { $ref: "#/components/schemas/Capabilities" }
        response_details: { type: object, additionalProperties: true }
    ConnectionStatus:
      type: string
      enum: [pending_target_approval, accepted, rejected, not_found, blocked, disconnected, expired]
    Connection:
      type: object
      required: [bridge_connection_id, status, source, target, guardian_messaging_enabled, capabilities]
      properties:
        bridge_connection_id: { type: string, format: uuid }
        status: { $ref: "#/components/schemas/ConnectionStatus" }
        source: { $ref: "#/components/schemas/BridgeSourceParticipant" }
        target: { $ref: "#/components/schemas/BridgeTargetParticipant" }
        guardian_messaging_enabled: { type: boolean }
        capabilities: { $ref: "#/components/schemas/Capabilities" }
        expires_at: { type: [string, "null"], format: date-time }
        accepted_at: { type: [string, "null"], format: date-time }
        responded_at: { type: [string, "null"], format: date-time }
        created_at: { type: [string, "null"], format: date-time }
    ConnectionResponse:
      allOf:
        - $ref: "#/components/schemas/Connection"
        - type: object
          required: [ok, request_id]
          properties:
            ok: { const: true }
            request_id: { type: string }
    RobonoConnectionStatus:
      type: string
      enum: [active, pending_invite, blocked, disconnected, expired]
    RobonoUser:
      type: object
      required: [id]
      properties:
        id: { type: string, format: uuid }
        display_name: { type: [string, "null"] }
        phone_masked: { type: [string, "null"] }
        avatar_url: { type: [string, "null"], format: uri }
        avatar_version: { type: [string, "null"] }
        avatar_updated_at: { type: [string, "null"], format: date-time }
        profile_updated_at: { type: [string, "null"], format: date-time }
    RobonoConnection:
      type: object
      required:
        - connection_id
        - status
        - external_user_id
        - capabilities
      properties:
        connection_id: { type: string, format: uuid }
        conversation_id: { type: [string, "null"], format: uuid }
        status: { $ref: "#/components/schemas/RobonoConnectionStatus" }
        external_user_id: { type: string }
        external_display_name: { type: [string, "null"] }
        external_profile: { type: object, additionalProperties: true }
        target_contact_label: { type: [string, "null"] }
        capabilities: { $ref: "#/components/schemas/Capabilities" }
        robono_user:
          oneOf:
            - $ref: "#/components/schemas/RobonoUser"
            - { type: "null" }
        phone_masked: { type: [string, "null"] }
        created_at: { type: [string, "null"], format: date-time }
        updated_at: { type: [string, "null"], format: date-time }
    RobonoConnectionResponse:
      allOf:
        - $ref: "#/components/schemas/RobonoConnection"
        - type: object
          required: [ok, request_id]
          properties:
            ok: { const: true }
            request_id: { type: string }
            profile_updated: { type: boolean }
            avatar_imported: { type: boolean }
            capabilities_updated: { type: boolean }
            disconnected_at: { type: [string, "null"], format: date-time }
            reason: { type: [string, "null"] }
    RobonoConnectionListResponse:
      type: object
      required: [ok, request_id, connections, has_more]
      properties:
        ok: { const: true }
        request_id: { type: string }
        connections:
          type: array
          items: { $ref: "#/components/schemas/RobonoConnection" }
        has_more: { type: boolean }
        next_before: { type: [string, "null"], format: date-time }
    MessageKind:
      type: string
      enum: [text, voice, image, video, document]
    Media:
      type: object
      required: [source_url, mime_type]
      properties:
        source_url:
          type: string
          format: uri
          pattern: "^https://"
          description: Public HTTPS URL available until the send succeeds and throughout the caller's retry window.
        mime_type: { type: string }
        byte_size: { type: integer, minimum: 1 }
        duration_ms: { type: integer, minimum: 1 }
        file_name: { type: string }
        waveform:
          type: array
          items: { type: number }
      additionalProperties: true
    AttachmentBatch:
      type: object
      additionalProperties: false
      required: [id, index, count]
      description: Groups media records composed and displayed as one message.
      properties:
        id: { type: string, minLength: 1, maxLength: 100 }
        index: { type: integer, minimum: 0, maximum: 9 }
        count: { type: integer, minimum: 2, maximum: 10 }
    SendMessage:
      oneOf:
        - $ref: "#/components/schemas/SendTextMessage"
        - $ref: "#/components/schemas/SendMediaMessage"
    SendTextMessage:
      type: object
      additionalProperties: false
      required:
        - bridge_connection_id
        - external_user_id
        - external_message_id
        - message_kind
        - text_body
      properties:
        bridge_connection_id: { type: string, format: uuid }
        external_user_id: { type: string, maxLength: 160 }
        external_message_id: { type: string, maxLength: 160 }
        message_kind: { const: text }
        text_body: { type: string }
        dry_run: { type: boolean, default: false }
    SendMediaMessage:
      type: object
      additionalProperties: false
      required:
        - bridge_connection_id
        - external_user_id
        - external_message_id
        - message_kind
        - media
      properties:
        bridge_connection_id: { type: string, format: uuid }
        external_user_id: { type: string, maxLength: 160 }
        external_message_id: { type: string, maxLength: 160 }
        message_kind:
          type: string
          enum: [voice, image, video, document]
        text_body: { type: string }
        media: { $ref: "#/components/schemas/Media" }
        attachment_batch: { $ref: "#/components/schemas/AttachmentBatch" }
        dry_run: { type: boolean, default: false }
    SendRobonoMessage:
      oneOf:
        - $ref: "#/components/schemas/SendRobonoTextMessage"
        - $ref: "#/components/schemas/SendRobonoMediaMessage"
    SendRobonoTextMessage:
      type: object
      additionalProperties: false
      required:
        - connection_id
        - external_user_id
        - external_message_id
        - message_kind
        - text_body
      properties:
        connection_id: { type: string, format: uuid }
        external_user_id: { type: string, maxLength: 160 }
        external_message_id: { type: string, maxLength: 160 }
        message_kind: { const: text }
        text_body: { type: string }
        send_invite_sms_if_pending: { type: boolean }
        external_profile: { $ref: "#/components/schemas/ExternalProfile" }
        dry_run: { type: boolean, default: false }
    SendRobonoMediaMessage:
      type: object
      additionalProperties: false
      required:
        - connection_id
        - external_user_id
        - external_message_id
        - message_kind
        - media
      properties:
        connection_id: { type: string, format: uuid }
        external_user_id: { type: string, maxLength: 160 }
        external_message_id: { type: string, maxLength: 160 }
        message_kind:
          type: string
          enum: [voice, image, video, document]
        text_body: { type: string }
        media: { $ref: "#/components/schemas/Media" }
        attachment_batch: { $ref: "#/components/schemas/AttachmentBatch" }
        send_invite_sms_if_pending: { type: boolean }
        external_profile: { $ref: "#/components/schemas/ExternalProfile" }
        dry_run: { type: boolean, default: false }
    MessageStatus:
      type: string
      enum: [stored, accepted, delivered, read, heard, failed, replaced]
    SendMessageResponse:
      type: object
      required: [ok, request_id, status]
      properties:
        ok: { const: true }
        request_id: { type: string }
        bridge_message_id: { type: string, format: uuid }
        guardian_message_id: { type: string, format: uuid }
        status:
          oneOf:
            - $ref: "#/components/schemas/MessageStatus"
            - { const: validated }
        duplicate: { type: boolean }
        dry_run: { type: boolean }
        accepted_at: { type: [string, "null"], format: date-time }
        accepted_via: { type: [string, "null"], enum: [push, polling, null] }
        push_status: { type: string, enum: [accepted, retry_scheduled] }
        recipient: { type: object, additionalProperties: true }
    SendRobonoMessageResponse:
      type: object
      required: [ok, request_id, status]
      properties:
        ok: { const: true }
        request_id: { type: string }
        robono_message_id: { type: string, format: uuid }
        external_user_id: { type: string }
        status: { type: string }
        invite_sms_sent: { type: boolean }
        dry_run: { type: boolean }
        connection_state: { type: object, additionalProperties: true }
    Message:
      type: object
      required: [bridge_message_id, bridge_connection_id, direction, sender_external_user_id, external_message_id, message_kind, status, created_at]
      properties:
        bridge_message_id: { type: string, format: uuid }
        bridge_connection_id: { type: string, format: uuid }
        direction: { type: string, enum: [inbound, outbound] }
        sender_external_user_id: { type: string }
        external_message_id: { type: string }
        message_kind: { $ref: "#/components/schemas/MessageKind" }
        text_body: { type: [string, "null"] }
        media:
          oneOf:
            - { $ref: "#/components/schemas/Media" }
            - type: object
              maxProperties: 0
        status: { $ref: "#/components/schemas/MessageStatus" }
        accepted_at: { type: [string, "null"], format: date-time }
        accepted_via: { type: [string, "null"], enum: [push, polling, null] }
        delivered_at: { type: [string, "null"], format: date-time }
        read_at: { type: [string, "null"], format: date-time }
        heard_at: { type: [string, "null"], format: date-time }
        failed_at: { type: [string, "null"], format: date-time }
        failure_code: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
        attachment_batch: { $ref: "#/components/schemas/AttachmentBatch" }
    RobonoMessage:
      type: object
      required:
        - robono_message_id
        - connection_id
        - direction
        - message_kind
        - status
        - created_at
      properties:
        robono_message_id: { type: string, format: uuid }
        connection_id: { type: string, format: uuid }
        direction: { type: string, enum: [inbound, outbound] }
        external_message_id: { type: [string, "null"] }
        message_kind: { $ref: "#/components/schemas/MessageKind" }
        text_body: { type: [string, "null"] }
        media:
          oneOf:
            - { $ref: "#/components/schemas/Media" }
            - type: object
              maxProperties: 0
        status: { type: string }
        delivered_at: { type: [string, "null"], format: date-time }
        read_at: { type: [string, "null"], format: date-time }
        heard_at: { type: [string, "null"], format: date-time }
        failed_at: { type: [string, "null"], format: date-time }
        failure_code: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
        attachment_batch:
          $ref: "#/components/schemas/AttachmentBatch"
    RobonoMessageListResponse:
      type: object
      required: [ok, request_id, messages, has_more]
      properties:
        ok: { const: true }
        request_id: { type: string }
        messages:
          type: array
          items: { $ref: "#/components/schemas/RobonoMessage" }
        has_more: { type: boolean }
        next_before: { type: [string, "null"], format: date-time }
        next_after: { type: [string, "null"], format: date-time }
        sync_cursor: { type: [string, "null"], format: date-time }
    RobonoMessageEventResponse:
      type: object
      required: [ok, request_id, message_id, status, event, occurred_at]
      properties:
        ok: { const: true }
        request_id: { type: string }
        message_id: { type: string, format: uuid }
        status: { type: string, enum: [delivered, read, heard, validated] }
        event: { type: string, enum: [delivered, read, heard] }
        occurred_at: { type: string, format: date-time }
        dry_run: { type: boolean }
        connection_state: { type: object, additionalProperties: true }
    RobonoMessageEventRequest:
      type: object
      required: [connection_id, robono_message_id, external_user_id, event]
      properties:
        connection_id: { type: string, format: uuid }
        robono_message_id: { type: string, format: uuid }
        external_user_id: { type: string, maxLength: 160 }
        event: { type: string, enum: [delivered, read, heard] }
        occurred_at: { type: string, format: date-time }
        dry_run: { type: boolean, default: false }
    LanguageResponse:
      type: object
      required: [ok, request_id, languages]
      properties:
        ok: { const: true }
        request_id: { type: string }
        languages:
          type: array
          items:
            type: object
            required: [code, name]
            properties:
              code: { type: string, examples: [en] }
              name: { type: string, examples: [English] }
    TransformOutput:
      type: string
      enum: [transcript, translated_text, voice, translated_voice]
    MessageTransformRequest:
      type: object
      required: [connection_id, message_id, outputs]
      properties:
        connection_id: { type: string, format: uuid }
        message_id: { type: string, format: uuid }
        outputs:
          type: array
          minItems: 1
          uniqueItems: true
          items: { $ref: "#/components/schemas/TransformOutput" }
        source_language: { type: [string, "null"], examples: [en] }
        target_language: { type: [string, "null"], examples: [es] }
        voice: { type: [string, "null"] }
    SpeechTransformRequest:
      type: object
      required: [input, outputs]
      properties:
        external_request_id: { type: string, maxLength: 160 }
        input:
          oneOf:
            - type: object
              required: [type, text]
              properties:
                type: { const: text }
                text: { type: string, minLength: 1 }
                language: { type: [string, "null"], examples: [en] }
            - type: object
              required: [type, source_url]
              properties:
                type: { const: audio }
                source_url: { type: string, format: uri }
                mime_type: { type: string, examples: [audio/mpeg] }
                language: { type: [string, "null"], examples: [en] }
        outputs:
          type: array
          minItems: 1
          uniqueItems: true
          items: { $ref: "#/components/schemas/TransformOutput" }
        target_language: { type: [string, "null"], examples: [es] }
        voice: { type: [string, "null"] }
    TransformTextArtifact:
      type: object
      required: [text, language, cached]
      properties:
        text: { type: string }
        language: { type: [string, "null"] }
        target_language: { type: string }
        cached: { type: boolean }
      additionalProperties: true
    GeneratedSpeechMedia:
      type: object
      required:
        - source_url
        - source_url_expires_at
        - mime_type
        - duration_ms
        - byte_size
        - generated_by
        - generated_kind
      properties:
        source_url: { type: string, format: uri }
        source_url_expires_at: { type: string, format: date-time }
        mime_type: { type: string }
        duration_ms: { type: [integer, "null"] }
        byte_size: { type: integer, minimum: 0 }
        waveform:
          type: array
          items: { type: number }
        generated_by: { const: robono }
        generated_kind: { const: tts_audio }
      additionalProperties: true
    TransformVoiceArtifact:
      type: object
      required: [media_object_id, media, language, cached, disclosure]
      properties:
        media_object_id: { type: [string, "null"], format: uuid }
        media:
          oneOf:
            - $ref: "#/components/schemas/GeneratedSpeechMedia"
            - { type: "null" }
        language: { type: [string, "null"] }
        target_language: { type: string }
        cached: { type: boolean }
        disclosure: { const: Generated voice }
      additionalProperties: true
    TransformArtifacts:
      type: object
      properties:
        transcript: { $ref: "#/components/schemas/TransformTextArtifact" }
        translated_text: { $ref: "#/components/schemas/TransformTextArtifact" }
        voice: { $ref: "#/components/schemas/TransformVoiceArtifact" }
        translated_voice: { $ref: "#/components/schemas/TransformVoiceArtifact" }
      additionalProperties: false
    TransformBilling:
      type: object
      required:
        - bill_to
        - charged
        - operation_count
        - operations
        - cache_reused
      properties:
        bill_to: { type: string, enum: [integration, sandbox] }
        charged: { type: boolean }
        operation_count: { type: integer, minimum: 0 }
        operations:
          type: array
          items:
            type: object
            required: [type, quantity, billable]
            properties:
              type: { type: string, enum: [transcription, translation, tts] }
              quantity: { const: 1 }
              billable: { type: boolean }
        cache_reused: { type: boolean }
    TransformResponse:
      type: object
      required:
        - ok
        - request_id
        - status
        - processing
        - artifacts
        - billing
      properties:
        ok: { const: true }
        request_id: { type: string }
        status: { const: completed }
        processing: { const: synchronous }
        connection_id: { type: string, format: uuid }
        message_id: { type: string, format: uuid }
        external_request_id: { type: [string, "null"] }
        artifacts: { $ref: "#/components/schemas/TransformArtifacts" }
        billing: { $ref: "#/components/schemas/TransformBilling" }
        test_mode: { type: boolean }
    WebhookEventBase:
      type: object
      required: [event, event_id, request_id, created_at]
      properties:
        event: { type: string }
        event_id: { type: string }
        request_id: { type: string }
        created_at: { type: string, format: date-time }
      additionalProperties: true
    ConnectionWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required: [event, connection_id, status]
          properties:
            event:
              enum: [connection.status_changed, connection.profile_updated]
            connection_id: { type: string, format: uuid }
            status: { $ref: "#/components/schemas/RobonoConnectionStatus" }
    MessageCreatedWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required:
            - event
            - connection_id
            - robono_message_id
            - external_user_id
            - sender
            - message_kind
            - text_body
            - media
          properties:
            event: { const: message.created }
            connection_id: { type: string, format: uuid }
            conversation_id: { type: string, format: uuid }
            robono_message_id: { type: string, format: uuid }
            external_user_id: { type: string }
            sender:
              type: object
              required:
                - type
                - robono_user_id
                - display_name
                - avatar_url
                - avatar_version
                - avatar_updated_at
                - profile_updated_at
                - phone_masked
              properties:
                type: { const: robono_user }
                robono_user_id: { type: string, format: uuid }
                display_name: { type: string }
                avatar_url: { type: [string, "null"], format: uri }
                avatar_version: { type: [string, "null"] }
                avatar_updated_at: { type: [string, "null"], format: date-time }
                profile_updated_at: { type: [string, "null"], format: date-time }
                phone_masked: { type: [string, "null"] }
            message_kind: { $ref: "#/components/schemas/MessageKind" }
            text_body: { type: [string, "null"] }
            media:
              oneOf:
                - { $ref: "#/components/schemas/Media" }
                - { type: "null" }
            attachment_batch:
              $ref: "#/components/schemas/AttachmentBatch"
    MessageReceiptWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required:
            - event
            - connection_id
            - robono_message_id
            - external_message_id
          properties:
            event: { enum: [message.delivered, message.heard] }
            connection_id: { type: string, format: uuid }
            robono_message_id: { type: string, format: uuid }
            external_message_id: { type: [string, "null"] }
    MessageReactionWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required:
            - event
            - connection_id
            - robono_message_id
            - external_message_id
            - external_user_id
            - reaction
            - reactor
          properties:
            event: { const: message.reaction_updated }
            connection_id: { type: string, format: uuid }
            conversation_id: { type: string, format: uuid }
            robono_message_id: { type: string, format: uuid }
            external_message_id: { type: [string, "null"] }
            external_user_id: { type: string }
            reaction: { $ref: "#/components/schemas/Reaction" }
            reactor: { $ref: "#/components/schemas/ReactionSender" }
    BridgeConnectionRequestedWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required:
            - event
            - bridge_connection_id
            - source
            - target
            - capabilities
          properties:
            event: { const: bridge.connection_requested }
            bridge_connection_id: { type: string, format: uuid }
            source: { $ref: "#/components/schemas/BridgeSourceParticipant" }
            target:
              type: object
              required:
                - app
                - identifier
                - contact_label
                - accepted_identifier
              properties:
                app:
                  oneOf:
                    - $ref: "#/components/schemas/Network"
                    - $ref: "#/components/schemas/AppIdentity"
                identifier: { type: string }
                contact_label: { type: [string, "null"] }
                accepted_identifier: { $ref: "#/components/schemas/Identifier" }
            capabilities: { $ref: "#/components/schemas/Capabilities" }
    BridgeConnectionChangedWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required: [event, bridge_connection_id, connection]
          properties:
            event:
              enum: [bridge.connection_status_changed, bridge.connection_updated]
            bridge_connection_id: { type: string, format: uuid }
            connection: { $ref: "#/components/schemas/Connection" }
    BridgeDirectoryChangedWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required: [event, endpoint_id, change]
          properties:
            event: { const: bridge.directory_changed }
            endpoint_id: { type: string }
            change:
              type: string
              enum: [created, updated, disabled, removed]
    BridgeMessageCreatedWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required:
            - event
            - bridge_connection_id
            - bridge_message_id
            - connection
            - sender
            - recipient
            - message
          properties:
            event: { const: bridge.message_created }
            bridge_connection_id: { type: string, format: uuid }
            bridge_message_id: { type: string, format: uuid }
            connection: { $ref: "#/components/schemas/Connection" }
            sender: { $ref: "#/components/schemas/BridgeWebhookParticipant" }
            recipient: { $ref: "#/components/schemas/BridgeWebhookParticipant" }
            message: { $ref: "#/components/schemas/BridgeWebhookMessage" }
    BridgeMessageStatusWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required: [event, bridge_connection_id, bridge_message_id, status]
          properties:
            event: { const: bridge.message_status_changed }
            bridge_connection_id: { type: string, format: uuid }
            bridge_message_id: { type: string, format: uuid }
            status: { $ref: "#/components/schemas/MessageStatus" }
    BridgeWebhookParticipant:
      type: object
      required: [child_app_id, external_user_id]
      properties:
        child_app_id: { type: string, format: uuid }
        external_user_id: { type: string }
    BridgeWebhookMessage:
      type: object
      required: [external_message_id, message_kind, created_at]
      properties:
        external_message_id: { type: string }
        message_kind: { $ref: "#/components/schemas/MessageKind" }
        text_body: { type: string }
        media: { $ref: "#/components/schemas/Media" }
        attachment_batch: { $ref: "#/components/schemas/AttachmentBatch" }
        speech: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
    BridgeGuardianMessageCreatedWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required:
            - event
            - bridge_connection_id
            - guardian_message_id
            - connection
            - sender_guardian
            - recipient_guardians
            - sender_child
            - recipient_child
            - message
          properties:
            event: { const: bridge.guardian_message_created }
            bridge_connection_id: { type: string, format: uuid }
            guardian_message_id: { type: string, format: uuid }
            connection: { $ref: "#/components/schemas/Connection" }
            sender_guardian: { $ref: "#/components/schemas/Guardian" }
            recipient_guardians:
              type: array
              items: { $ref: "#/components/schemas/Guardian" }
            sender_child:
              $ref: "#/components/schemas/BridgeNamedWebhookParticipant"
            recipient_child:
              $ref: "#/components/schemas/BridgeNamedWebhookParticipant"
            message:
              type: object
              required:
                - external_message_id
                - message_kind
                - text_body
                - created_at
              properties:
                external_message_id: { type: string }
                message_kind: { const: text }
                text_body: { type: string }
                created_at: { type: string, format: date-time }
    BridgeGuardianMessageStatusWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required:
            - event
            - bridge_connection_id
            - guardian_message_id
            - status
          properties:
            event: { const: bridge.guardian_message_status_changed }
            bridge_connection_id: { type: string, format: uuid }
            guardian_message_id: { type: string, format: uuid }
            status: { $ref: "#/components/schemas/GuardianMessageStatus" }
    BridgeNamedWebhookParticipant:
      allOf:
        - $ref: "#/components/schemas/BridgeWebhookParticipant"
        - type: object
          required: [display_name]
          properties:
            display_name: { type: string }
    Reaction:
      type: object
      required: [emoji, removed, reacted_at]
      properties:
        emoji:
          type: [string, "null"]
          description: Curated reaction emoji, or null when the reaction was removed.
        removed: { type: boolean }
        reacted_at: { type: string, format: date-time }
    ReactionSender:
      type: object
      required: [type, robono_user_id, display_name, phone_masked]
      properties:
        type: { const: robono_user }
        robono_user_id: { type: string, format: uuid }
        display_name: { type: string }
        phone_masked: { type: [string, "null"] }
    GuardianMessageStatus:
      type: string
      enum: [stored, accepted, delivered, read, failed, replaced]
    TransformCompletedWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required:
            - event
            - transform_kind
            - status
            - artifacts
            - billing
          properties:
            event: { const: transform.completed }
            transform_kind: { type: string, enum: [message, speech] }
            status: { const: completed }
            connection_id: { type: string, format: uuid }
            message_id: { type: string, format: uuid }
            external_request_id: { type: [string, "null"] }
            artifacts: { $ref: "#/components/schemas/TransformArtifacts" }
            billing: { $ref: "#/components/schemas/TransformBilling" }
    TransformFailedWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required: [event, transform_kind, status, error]
          properties:
            event: { const: transform.failed }
            transform_kind: { type: string, enum: [message, speech] }
            status: { const: failed }
            connection_id: { type: string, format: uuid }
            message_id: { type: string, format: uuid }
            external_request_id: { type: [string, "null"] }
            error:
              type: object
              required: [code, message]
              properties:
                code: { type: string }
                message: { type: string }
    DiagnosticPushWebhookEvent:
      allOf:
        - $ref: "#/components/schemas/WebhookEventBase"
        - type: object
          required:
            - event
            - push_diagnostic_id
            - diagnostic_token
            - external_user_id
          properties:
            event: { const: diagnostic.push_requested }
            push_diagnostic_id: { type: string, format: uuid }
            diagnostic_token: { type: string }
            external_user_id: { type: string }
    WebhookEvent:
      oneOf:
        - $ref: "#/components/schemas/ConnectionWebhookEvent"
        - $ref: "#/components/schemas/MessageCreatedWebhookEvent"
        - $ref: "#/components/schemas/MessageReceiptWebhookEvent"
        - $ref: "#/components/schemas/MessageReactionWebhookEvent"
        - $ref: "#/components/schemas/BridgeConnectionRequestedWebhookEvent"
        - $ref: "#/components/schemas/BridgeConnectionChangedWebhookEvent"
        - $ref: "#/components/schemas/BridgeDirectoryChangedWebhookEvent"
        - $ref: "#/components/schemas/BridgeMessageCreatedWebhookEvent"
        - $ref: "#/components/schemas/BridgeMessageStatusWebhookEvent"
        - $ref: "#/components/schemas/BridgeGuardianMessageCreatedWebhookEvent"
        - $ref: "#/components/schemas/BridgeGuardianMessageStatusWebhookEvent"
        - $ref: "#/components/schemas/TransformCompletedWebhookEvent"
        - $ref: "#/components/schemas/TransformFailedWebhookEvent"
        - $ref: "#/components/schemas/DiagnosticPushWebhookEvent"
    GuardianMessage:
      type: object
      required: [guardian_message_id, bridge_connection_id, direction, sender_external_guardian_id, external_message_id, message_kind, text_body, status, created_at]
      properties:
        guardian_message_id: { type: string, format: uuid }
        bridge_connection_id: { type: string, format: uuid }
        direction: { type: string, enum: [inbound, outbound] }
        sender_external_guardian_id: { type: string }
        external_message_id: { type: string }
        message_kind: { const: text }
        text_body: { type: string }
        status: { type: string, enum: [stored, accepted, delivered, read, failed, replaced] }
        accepted_at: { type: [string, "null"], format: date-time }
        accepted_via: { type: [string, "null"], enum: [push, polling, null] }
        delivered_at: { type: [string, "null"], format: date-time }
        read_at: { type: [string, "null"], format: date-time }
        failed_at: { type: [string, "null"], format: date-time }
        failure_code: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
